body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#final {
    display: none;
}


#container {
    width: 800px;
}


#playground {
    display: none;
    cursor: crosshair;
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/forestBg.jpg");
    background-position-x: center;
    background-position-y: center;
}

#viewer {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 128, 0, 0.459);
    border-radius: 18px;
    z-index: 0;
}

.wasp {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/wasp.gif");
    background-size: 200%;
    background-position-x: center;
    background-position-y: center;
    z-index: 1000;
}

.bee {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/bee.gif");
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
    z-index: 1000;
}

#control-panel {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #190e05;
    color: #fff;
}

#control-panel button {
    border-radius: 10px;
    padding: 5px;
    border: 0;
    cursor: pointer;
}

#killed-wasps,
#killed-bees,
#seconds {
    font-size: 26px;
    padding-left: 5px;
}

.icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.layout {
    width: 800px;
    height: 600px;
    background-color: #ffec64;
}

#seconds {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgba(255, 0, 0, 0.425);
    font-size: 100px;
    z-index: 0;
    padding: 0 25px 25px 0;
}

#start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url("/assets/images/front-page.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

#logo {
    width: 250px;
    margin: 0 auto;
}

#start-btn-game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#start-btn, #replay-btn {
    margin: 25px;
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:25px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

}
#start-btn:hover, #replay-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

#start-btn:active, #replay-btn:active {
	position:relative;
	top:1px;
}

input {
    border-radius: 100px 100px 100px; 
    border: 2px solid #000000;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

#final-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
}

#last-games {
    margin-top: 15px;
}

#marks {
    padding: 25px;
    padding-left: 30px;
}
#last-games span {
    padding-left: 30px;
}

#delete-history-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




