@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Light.eot');
    src: url('../assets/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Ubuntu-Light.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Light.woff') format('woff'),
        url('../assets/fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: calc(1.1em 0.5vw);
    background-color: #000;
}

#container {
    margin:auto;
    position:relative;
}

#start {
    position:absolute;
    z-index:100;
    top:0;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, rgba(255, 234, 2, 1), rgba(255, 107, 1, 0.7)),
        url("../assets/images/hiveBg2.jpg");
    background-position-x: center;
    background-position-y: center;
    background-blend-mode: normal;
}

.layout {
    width: 900px;
    height: 600px;
}

#logo {
    width: 250px;
    margin: 0 auto;
}

.flex {
    padding-top: 80px;
    display: flex;
    justify-content: center;  
      flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.flex-center {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#start-btn,
#replay-btn {
    box-shadow: 0px 0px 15px 10px #fff6af;
    background: radial-gradient(circle, #ffec64 5%, #ff9d00 100%);
    background-color: #ffec64;
    border-radius: 25px;
    border: 1px solid #935c02;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-size: 1.5rem;
    padding: 14px 22px;
    text-decoration: none;
}

#start-btn:hover,
#replay-btn:hover {
    box-shadow: 0px 0px 15px 20px #fff6af;
}

#start-btn:active,
#replay-btn:active {
    position: relative;
    top: 1px;
}

input {
    border-radius: 100px 100px 100px;
    border: 1px solid #000000;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

#playground {
    position:absolute;
    z-index:50;
    top:0;
    display: block;
    cursor: crosshair;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-image: radial-gradient(circle, rgba(255, 234, 2, 1), rgba(255, 107, 1, 0.7)), url("../assets/images/forestBg.jpg");
    background-blend-mode: multiply;

}

#final {
    position:absolute;
    z-index:0;
    top:0;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, rgba(255, 234, 2, 1), rgba(255, 107, 1, 0.7)),
        url("../assets/images/hiveBg.jpg");
    background-position-x: center;
    background-position-y: center;
    background-blend-mode: normal;
}

#result {
    font-size: 2rem;
    text-shadow: 0px 0px 10px red;
}

.mark {
    padding-right: 40px;
}

#viewer {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: rgba(0, 128, 0, 0.4);
    border-radius: 18px;
    z-index: 0;
}

.wasp {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/wasp.gif");
    background-size: 200%;
    background-position-x: center;
    background-position-y: center;
    z-index: 1000;
}

.bee {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/bee.gif");
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
    z-index: 1000;
}


#vitals {
    position:absolute;
    display: flex;
    width: 400px;
    top: 20px;
    left: 20px;
    color:#fff;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    opacity: 0.8;
}

#vitals > div {
    margin-bottom: 10px;
}

#vitals div:nth-child(3) {
    font-size: 1rem;
}

#sound-controls {
    position: absolute;
    top: 300px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#music-btn, #sfx-btn {
    border-radius: 50px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-color: #ffffff2e;
}

#music-btn img, #sfx-btn img {
    width: 100%;
    height: 100%;
}

#music-btn:hover, #sfx-btn:hover {
    background: radial-gradient(circle, #ffec64 5%, #ff9d00 100%);
}

#killed-wasps,
#killed-bees {
    font-size: 1.5rem;
    padding-left: 5px;
}

.icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
}

#seconds {
    position: absolute;
    top: 0px;
    right: 0px;
    color: rgba(255, 0, 0, 0.425);
    font-size: 100px;
    z-index: 0;
    padding: 0 25px 25px 0;
}


#final-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 90px;
    flex-wrap: wrap;
}

#last-games {
    margin-top: 40px;
}

#history {
    background: #cd8a0c97;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 black;
    min-width: 250px;
}

#history h5 {
    margin:0;
}

#hitory-heading {
    display: flex;
    justify-content: space-between;
}

#bee-lives {
    display: flex;
    justify-content:flex-start;
    width: 200px;
    padding-bottom: 0;
}

#bee-lives img {
    width: 30px;
    height:auto;
    padding: 10px;
    border-radius: 30px;
}

.life {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 30px;
    background: url("../assets/images/bee-icon.png");
    background-color: rgba(239, 202, 18, 0.844);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (max-device-width : 600px) {

    #logo {
        padding: 150px 0 25px 0;
        width: 400px;
    }
    #logo + div {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    #start-btn, #replay-btn {
        font-size: 5rem;
    }

    #sound-controls {
        position: absolute;
        top: 300px;
        left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #music-btn, #sfx-btn {
        width: 100px;
        height: 100px;
    }

    #vitals span {
        font-size: 2.5rem;
    }

    #bee-lives {
        margin-top: 25px;
        height: 70px;
    }

    #history {
        margin-top:50px;
        font-size: 2rem;
        margin-bottom: 100px;
    }
/*
    #delete-history-container {
        width: 100px;
        height: 100px;
    }
*/
    #delete-history {
        height: 50px;
        width: 50px;
    }

    #marks li {
        margin-bottom: 20px;
    }

}